<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
<h1>This is show pages</h1>
<video src="https://coastlines.oss-cn-beijing.aliyuncs.com/oAkwQeBlAgDIo09uDDuhbgiAhqvnkeLiLCwcrA.MP4" controls></video>
<video src="http://s6oyn1wwt.hd-bkt.clouddn.com/ooDbO8oXAYP9KnIWISQAmf8VkGDAkleCggBiQc.MP4?e=1704381559&token=FSRFDUAM0OEY6fCHvpov5j07kGm6PaLSO303bOHp:HLv3TmjUxitPLc6UIOPu1KW1VD0=" controls></video>
<img src="/static/imgs/IMG_0954.jpg" alt="">
<video src="/static/videos/BohemianRhapsody.MP4" controls></video>
<video src="https://api.bilibili.com/x/player/playurl?avid=665471886&cid=1382653519&qn=1&type=&otype=json&platform=html5&high_quality=1" controls></video>
<iframe src="//player.bilibili.com/player.html?bvid=BV1zg4y157Gy&;page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width=100%> </iframe>
<iframe src="https://player.bilibili.com/player.html?aid=410017974&bvid=BV1qG411r7Y8&cid=1375645091&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</body>
</html>