<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
<h1>This is show pages</h1>
<img src="https://coastlines.oss-cn-beijing.aliyuncs.com/IMG_0464.JPG" alt="">
<video src="https://coastlines.oss-cn-beijing.aliyuncs.com/oAkwQeBlAgDIo09uDDuhbgiAhqvnkeLiLCwcrA.MP4" controls></video>
<video src="http://s6oyn1wwt.hd-bkt.clouddn.com/ooDbO8oXAYP9KnIWISQAmf8VkGDAkleCggBiQc.MP4?e=1704381559&token=FSRFDUAM0OEY6fCHvpov5j07kGm6PaLSO303bOHp:HLv3TmjUxitPLc6UIOPu1KW1VD0=" controls></video>
<img src="../../static/imgs/IMG_0954.jpg" alt="">
<video src="/static/videos/BohemianRhapsody.MP4" controls></video>
</body>
</html>